node_modules
dist
.env
.env.local
.DS_Store
*.log
.arena
.cache
.local
.mypy_cache
.next
.nox
.npm
.nuxt
.output
.parcel-cache
.pytest_cache
.ruff_cache
.svelte-kit
.tox
.turbo
.venv
.vite
__pycache__
build
coverage
out
target
Black-Veil-v1.1.0-*.zip
*.zip
